Other/
Assets/blue_card.jpg
Assets/draw_four.jpg
Assets/green_card.jpg
Assets/red_card.jpg
Assets/wild_card.jpg
Assets/yellow_card.jpg
Project/main.py
Website/portfolio.py
Website/static/about.css
Website/static/background.png
Website/static/click.js
Website/static/home.css
Website/static/homepage.jpg
Website/static/profilepic.jpg
Website/static/style.css
Website/static/unoproject.jpg
Website/templates/about.html
Website/templates/home.html
Website/templates/base.html
Website/templates/login.html
Website/templates/projects.html
Website/templates/resume.html
